* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "JetBrainsMono Nerd Font Mono",Raleway,Noto Sans;
    /*color: #222;*/
    color: whitesmoke;
    user-select: none;
}

/* Block Flow Animation */
.blocks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color: #131313;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    z-index: 10000;
}


.block {
    width: 30px;
    height: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.075);
    transition: border-color 0.3s ease;
}

.highlight {
    border-color: #2dd4bf;
}

.content {
    position: relative;
    width: 450px;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    z-index: 2;
    pointer-events: none;
}


/* typography */

h1{
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
}
    
h2{
    margin-top: 0;
}

h3{
    font-size: 20px;
    font-weight: 700; 
    line-height: 30px;
}

p{
    font-size: 13px;
    line-height: 28px;

}

p.my-intro {
    font-size: 17px;
}

@media screen and (max-width: 768px) {
    p.my-intro {
        font-size: 18px; /* Adjust this value as needed for mobile */
    }
}

ul{
    list-style: none;
    padding: 5px 0 0 0;
}

li{
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 22px;
    color: #222;
}

.li-green{background-color:#E5FDEA}
.li-yellow{background-color:#FCFDD6}
.li-blue{background-color:#E5F9FE}
.li-pink{background-color:#FCF1FE}

/* layout */

img{
    width: 100%;
}

/*main{
    width: 400px;
    margin: 0 auto;
}*/

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 430px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #F3D187;
    background-color: #212529;
    color: whitesmoke;
    z-index: 2;
}

.modal-inner{
    width: 290px;
    height: 200px;
    line-height: 40px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
    font-size: 22px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    /* padding: 10px 24px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 35px; */
}

.reverse-modal-choice-btns {
    flex-direction: row-reverse;
}

.modal-btn{
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-family: "JetBrainsMono Nerd Font Mono",Raleway,Noto Sans;
}

.modal-accept-btn:hover {
    background-color: lightskyblue ;
    font-size: 16px;
    font-family: "JetBrainsMono Nerd Font Mono",Raleway,Noto Sans;
    border: none;
    border-radius: 5px;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name{
    color: fuchsia;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;}

.fa-shake {
  animation: fa-shake 2s infinite linear;
}

/* Scroll animations */

.inline-wrapper {
    background: none;
    z-index: 2;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
        );
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0),
    );
}

.wrapper {
    background: none;
    z-index: 2;
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 50px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
        );
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0),
    );
}

.item {
    width: 170px;
    height: 50px; 
    font-size: 13px;
    font-family: "JetBrainsMono Nerd Font Mono",Raleway,Noto Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #131313;
    border-radius: 6px;
    position: absolute;
    left: max(calc(170px * 6), 100% );
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.custom-size {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@keyframes scrollLeft {
    to{
        left: -170px;
    }
}

.item1 {
    animation-delay: calc(20s / 6 * (6 - 1) * -1 );
}
.item2 {
    animation-delay: calc(20s / 6 * (6 - 2) * -1 );
}
.item3 {
    animation-delay: calc(20s / 6 * (6 - 3) * -1 );
}
.item4 {
    animation-delay: calc(20s / 6 * (6 - 4) * -1 );
}
.item5 {
    animation-delay: calc(20s / 6 * (6 - 5) * -1 );
}
.item6 {
    animation-delay: calc(20s / 6 * (6 - 6) * -1 );
}

.item7 {
    animation-delay: calc(7s / 6 * (6 - 1) * -1 );
    animation-duration: 7s;
    font-family: "JetBrainsMono Nerd Font Mono",Raleway,Noto Sans;
}
